<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to t('Edit account'), edit_user_registration_path %></li>
  <li><%= link_to t('Sign out'), destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to t('Sign in'), new_user_session_path %></li>
  <li><%= link_to t('Sign up'), new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to t('Users'), users_path %></li>
  <% end %>
<% end %>
